body {
  display: flex;
  background-image: url("/instructions/intro_background.jpg");
  background-size: cover;
  height: 100vh;
  padding-top: 5em;
  font-family: 'Press Start 2P';
  flex-direction: row;
}

header {
  flex-direction: column;
}

form {
  flex-direction: column;
}

h1 {
  margin-top: 2em;
}

.catClass {
  border-radius: 4px;
  background-color: #D3CFC0;
  font-family: 'Press Start 2P';
  margin: 1em;
}

#endMessage {

  margin-top: 10em;

}
