body {
  display: flex;
  background-image: url("/instructions/intro_background.jpg");
  background-size: cover;
  height: 100vh;
  padding-top: 5em;
  font-family: 'Press Start 2P';
  flex-direction: row;
}

header {
  flex-direction: column;
}

form {
  flex-direction: column;
}
